Given two integer numbers, write a Python code to return their product only if the product is equal to or lower than 1000. Otherwise, return their sum.

In [1]:
def two_integers(n,m):
    if (n*m) < 1000:
        return n * m
    else:
        return n + m

print(two_integers(20,30))

600

In [5]:
def current_previous(n):
    prev = 0
    for i in range(0,n+1):
        total = prev + i
        print(f'current number {i} previous number {prev} sum {total}')
        prev = i

current_previous(10)

current number 0 previous number 0 sum 0
current number 1 previous number 0 sum 1
current number 2 previous number 1 sum 3
current number 3 previous number 2 sum 5
current number 4 previous number 3 sum 7
current number 5 previous number 4 sum 9
current number 6 previous number 5 sum 11
current number 7 previous number 6 sum 13
current number 8 previous number 7 sum 15
current number 9 previous number 8 sum 17
current number 10 previous number 9 sum 19

In [8]:
def index(n):
    if type(n) == str:
        for i in range(len(n)):
            if i % 2 == 0:
                print(n[i])
    else:
        print('please enter an object not a number')

index('pynative')

p
n
t
v

In [11]:
def renive_str(n,m):
    if type(n) == str and type(m) == int:
        print(n[m:])

renive_str('string',4)
renive_str('Prathamesh',5)

ng
amesh

In [16]:
def first_last(n):
    if n[0] == n[-1]:
        return True
    else:
        return False

numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]
print(first_last(numbers_x))
print(first_last(numbers_y))

True
False

In [17]:
def divi(n):
    for i in n:
        if i % 5 == 0:
            print(i)

divi([10, 20, 33, 46, 55])

10
20
55

In [22]:
def appear(n):
    a =  n.count("Emma" )
    print(f"emma appear {a} times")
str_x = "Emma is good developer. Emma is a writer"
appear(str_x)

emma appear 2 times

In [23]:
for i in range(1,6):
    total = str(i) * i
    print(total)

1
22
333
4444
55555

In [28]:
def palindrome_num(n):
    if type(n) != str:
        n = str(n)
    if n[0:] == n[::-1]:
        return f"{n} is a palindrome"
    else:
        return False

palindrome_num(121)

'121 is a palindrome'

In [34]:
def odd_even(n1,n2):
    lis  = []
    for i in n1:
        if i % 2 != 0:
            lis.append(i)
    for i in n2:
        if i % 2 == 0:
            lis.append(i)
    return lis

In [35]:
list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
odd_even(list1,list2)

[25, 35, 40, 60, 90]

In [6]:
def py(a,b):
    print(a)
    print(b)

if __name__ == '__main__':
    (py(input(),input()))

12
13

In [11]:
def many_arugments(*n):
    print('starting from over here')
    for i in n:
        print(i)

(many_arugments(10,20,30))

starting from over here
10
20
30

In [14]:
def cal(a,b):
    return a+b,a-b

print(cal(23,44))

(67, -21)

In [17]:
def show_function(name,salary = 9000):
    return name,salary

print(show_function('ron',3000))
print(show_function('prathamesh'))

# this is how you give a default keyword so that if the value is missing then you can just use the default value in that place

('ron', 3000)
('prathamesh', 9000)

In [22]:
def outer_func(a,b):
    
    def inner_function(a,b):
        return a + b
    
    return inner_function(a,b) + 5

print(outer_func(23,45))

# so we cannot give it like this like creating a def and calling a def function it is wrong in that as it will not able to do that but we can do that in claseses
# for that u have to learn or lets say revise the python

73

In [27]:
def rec_sum(n):
    if n == 0 :
        return n
    return n + rec_sum(n-1)

In [28]:
rec_sum(10)

55

In [30]:
def display_student(name, age):
    print(name, age)

display_student("Emma", 26)

show_student = display_student

Emma 26

In [31]:
show_student('ron',23)

ron 23

In [40]:
def even_no():
    res = []
    for i in range(4,30):
        if i % 2 == 0 :
           res.append(i) 
    print(res)

In [41]:
print(even_no)

<function even_no at 0x0000026718CF03A0>

In [44]:
res = []
for i in range(4,30):
    if i % 2 == 0 :           
        res.append(i) 
print(res)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [50]:
#easiet way to write down the code was this 

print(list(range(4,30,2)))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [51]:
x = [4, 6, 8, 24, 12, 2]
print(max(x))

24

In [55]:
X = [4, 6, 8, 24, 12, 2]

max = X[0]
for i in range(1,len(X)):
    if max < X[i]:
        max = X[i]
print("The given list:",X)
print("The Max value in this list :",max)

The given list: [4, 6, 8, 24, 12, 2]
The Max value in this list : 24

In [10]:
def space(n):
    we = ''
    total = str(n)
    

    for i in total:
        we += f'{i} '

    return we[::-1]

x = 7536
print(space(x))

 6 3 5 7

In [23]:
income = 45000
tax_payable = 0
print("Given income", income)

if income <= 10000:
    tax_payable = 0
elif income <= 20000:
    # no tax on first 10,000
    x = income - 10000
    # 10% tax
    tax_payable = x * 10 / 100
else:
    # first 10,000
    tax_payable = 0

    # next 10,000 10% tax
    tax_payable = 10000 * 10 / 100

    # remaining 20%tax
    tax_payable += (income - 20000) * 20 / 100

print("Total tax to pay is", tax_payable)

Given income 45000
Total tax to pay is 6000.0

In [36]:
for i in range(1,11):
    for j in range(1,11):
        table = i * j
        print(table, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [47]:
n = 5 
for i in range(n+1):
    total = ('*' * i)
    print(total)

*
**
***
****
*****

In [52]:
n = 5 
for i in range(n,0,-1):
    print('* '* i)

* * * * *
* * * *
* * *
* *
*

In [49]:
for i in range(6, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [53]:
def exponent(n,m):
    return n ** m

exponent(2,5)

32

date - 23/09/2024 timing = 23:25

In [1]:
def multiply(a,b):
    return a * b

na = int(input())
na1 = int(input())
print(multiply(na,na1))

4

In [4]:
s = int(input('how many string u want maximum is 3:'))
str = []
for i in range(s):
    string  = input()
    str.append(string)

res = '**'.join(str)
print(res)

ron**id**mad

another way to do this by just doing the print statement

In [5]:
print('my','name','is','ron',sep = '**')

my**name**is**ron

this is  way to do this both of the steps are correct

In [6]:
num = 8
print('%o' % num)

10

In [7]:
num = 100
print('%o'% num)

144

In [14]:
num = 458.541315
format1 = '{:.2f}'.format(num)
print(format1)

458.54

the mistake that i did was forgetting point

In [13]:
num = 10.123
form = f'{num:.2f}'
print(form)

10.12

In [15]:
a = []
for i in range(5):
    n = float(input('enter float no:'))
    a.append(n)

print('The user list is',a)

The user list is [23.5, 23.6, 55.5, 33.4, 22.6]